body {
}

.icon{
    width:32px;
    height:32px;
}

.tituloanswer{
    background-color:silver
}



#answerTable thead tr th{
    background-color:#6699CC;
    
}

#answerTable_tittle{
    background-color:#6699CC;
}

#answerTable_tittle span{
    background-color:#5487BA;
}




.barra{   
    height:5px;
}
